<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team" method="POST">
     <label>Team Name: <input type="text" name="name" /></label>
     <label>Coach: </label>
     <label>Point Guard: </label>
     <label>Shooting Guard: </label>

     <label>Starting Forward: </label>

     <label>Power Ford: </label>

     <label>Center: </label> 
   </form>

 </body>
</html>
